---
import AnalyticsScript from '../components/AnalyticsScript.astro';
import InlineStyles from '../components/InlineStyles.astro';
import MetaTags from '../components/MetaTags.astro';
import ShowcaseGrid from '../components/ShowcaseGrid.astro';

import {Content as ClosingStatements} from '../components/ClosingStatements.md';
import {Content as Description} from '../components/Description.md';
import {Content as Features} from '../components/Features.md';
import {Content as GetStarted} from '../components/GetStarted.md';
import {Content as Installation} from '../components/Installation.md';

const preloadFonts: AbsoluteFontFilePath[] = [
  '/fonts/newtitle-bold.woff2',
  '/fonts/source-serif-4-latin-400-normal.woff2',
  '/fonts/source-serif-4-latin-700-normal.woff2',
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <MetaTags
      path="/"
      title="VSCode Vercel"
      description="Keep an eye on your Vercel deployments while you code"
      ogImage="/og.png"
    />
    {
      preloadFonts.map((path) => (
        <link rel="preload" href={path} as="font" type="font/woff2" crossorigin />
      ))
    }
    <InlineStyles />
    <AnalyticsScript />
  </head>
  <body class="w-full bg-gray-1 text-gray-12 subpixel-antialiased text-xl">
    <main class="relative max-w-7xl w-full mx-auto p-5 md:p-10 lg:p-20">
      <div
        class="absolute inset-0 mx-5 md:m-5 lg:m-10 -z-1 border-none md:border-solid border border-gray-5a"
      >
        <div class="w-full h-full grid grid-cols-2 md:grid-cols-3">
          <div class="border-r border-gray-5a hidden md:block"></div>
          <div class="border-r border-gray-5a border-dashed"></div>
          <div></div>
        </div>
      </div>

      <div class="max-w-prose font-serif text-xl tracking-tight">
        <p>
          <b>VSCode Vercel</b> is a free, open-source extension for Visual Studio Code and forks.
        </p>
      </div>
      <h1
        class="font-headings uppercase font-bold text-[6rem] md:text-[8rem] lg:text-[10rem] leading-none my-5 lg:my-10"
      >
        Keep an eye on your Vercel
        <br class="hidden xl:block" /> deployments while you code
      </h1>
      <div class="max-w-[70ch] prose prose-radix-gray font-serif text-xl tracking-tight">
        <Description />
        <br />
      </div>
      <div class="max-w-full prose prose-radix-gray font-serif text-xl tracking-tight">
        <ShowcaseGrid />
      </div>
      <div class="max-w-[70ch] prose prose-radix-gray font-serif text-xl tracking-tight">
        <br />
        <Features />
        <br />
        <div class="bg-gray-1">
          <Installation />
        </div>
        <br />
        <GetStarted />
        <div class="bg-gray-1 py-4">
          <div class="border-b border-gray-5a border-dashed"></div>
        </div>
        <ClosingStatements />
      </div>
    </main>
  </body>
</html>
