{
  "$schema": "https://json.schemastore.org/prettierrc",
  "endOfLine": "lf",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "semi": false,
  "bracketSpacing": false,
  "singleQuote": true,
  "trailingComma": "all"
}
